body {
    background-color: #DBD3C1;
} 


h1 {
    border-style: double;
    border-width: 5px;
    border-color: black;
    padding-left: 370px;
    padding-right: 300px;
    margin-right: 200px;
    margin-left: 200px;
}

h2 {
    padding-left:  300px;
    padding-right: 300px;
}

h3 {
    padding-left: 400px;
}

h4 {
    padding-left: 400px;
}